<!DOCTYPE html>
<html ng-app="ngMadLibs">
<head>
  <title>NgMadLibs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="myCtrl">

<%= yield %>
<!--    ng-init= "male_name=''; job_title=''; tedious_task=''; dirty_task=''; celebrity=''; useless-skill=''; adjective=''; obnoxious_celebrity=''; huge_number='';" -->

</body>
</html>
